*{
    margin: 0;
    box-sizing: border-box;
}
span , a , title {
    display: inline-block;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.top{
    height: 50dvh;
    background-color: rgb(250, 244, 233);
    padding-top: 50px;
}
.big{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(1, 65, 65);
    padding: 90px 120px;
    margin: 0 150px;
    position: relative;
    box-shadow: 0 30px 0 40px rgb(250, 244, 233);
}
.textbox{
    color: white;
    width: 50%;
}
.blocks{
    width: 40%;
}
.img{
    width: 450px;
    position: absolute;
    bottom: -60px;
    right: -100px;
    box-shadow:  0 5px 10px 10px forestgreen;
}
.p2{
    padding-bottom: 30px;
    border-bottom: 2px solid silver ;
}
.p{
    color: silver;
    padding-top: 20px;
}
.h1{
    padding: 30px 0;
}